@charset "UTF-8";

a:hover {
    text-decoration: underline;
    background-color: gray;
***REMOVED***

.sec .container{
    width: 100%; max-width: 992px;
***REMOVED***

/* /* 濡쒓퀬 */ */
/* #logo {  */
/*     float:left;   �쇊履쎌쑝濡� �뵆濡쒗똿  */
/*     width:250px;    �꼫鍮�  */
/*     height:100px;   �넂�씠 */
/*     line-height:100px;  �꽭濡쒕줈 以묎컙�뿉 留욎땄 - 以꾧컙寃⑹쓣 �넂�씠 媛믨낵 媛숆쾶 */
/*     padding-left:150px;  �쇊履쎌뿉 �뿬諛� */
/* ***REMOVED*** */

/* #logo h1 { */
/*     font-family:fantasy; */
/*     font-weight:300; */
/*     font-size:40px;   湲��옄 �겕湲� */
/*     color:rgb(255,255,140);   湲��옄 �깋 */
/* ***REMOVED*** */

/* carousel */
.infocarousel{
    width: 100%; max-width: 992px;
***REMOVED***

.infocarousel .carousel-inner .carousel-item{
    height: auto; min-height: 300px; max-height: 558px;
    border-radius : 5px;
***REMOVED***

.infocarousel .carousel-inner .carousel-item img{
    height: auto; min-height: 300px; max-height: 558px;
    border-radius : 5px;
***REMOVED***

/* card */
.sec .container .row, .sec .container .title-wrap{
    width: 100%
***REMOVED***

.sec .container .row .gt{
    width: 18rem; height: 25rem;
***REMOVED***

.sec .container .row .gt .col{
    width: 100%; height: 100%;
***REMOVED***

.sec .container .row .col .gt a img{
    width: 15rem; height: 20rem
***REMOVED***

.info{
    margin: 30px 0;
***REMOVED***