* {
    margin:0;   /* 留덉쭊 由ъ뀑 */
    padding:0;   /* �뙣�뵫 由ъ뀑 */
***REMOVED***

a {
    text-decoration:none;  /* �뀓�뒪�듃 留곹겕 諛묒쨪 �뾾�븷湲� */ 
    color: inherit;
***REMOVED***

a:link {
    text-decoration: none;
    color: inherit; 
***REMOVED***

a:hover {
    text-decoration: underline;
    background-color: gray;
***REMOVED***

ul {
      list-style: none;
      padding-bottom: 200px;
***REMOVED***

/* 濡쒓퀬 */
#logo { 
    float:left;   /* �쇊履쎌쑝濡� �뵆濡쒗똿 */ 
    width:250px;   /*  �꼫鍮� */ 
    height:100px;   /* �넂�씠 */
    line-height:100px;  /* �꽭濡쒕줈 以묎컙�뿉 留욎땄 - 以꾧컙寃⑹쓣 �넂�씠 媛믨낵 媛숆쾶 */
    padding-left:150px;  /* �쇊履쎌뿉 �뿬諛� */
***REMOVED***

#logo h1 {
    font-family:fantasy;
    font-weight:300;
    font-size:40px;   /* 湲��옄 �겕湲� */
    color:rgb(255,255,140);   /* 湲��옄 �깋*/
***REMOVED***
