@charset "UTF-8";


a:link {
    text-decoration: none;
    color: inherit; 
}

a:hover {
    text-decoration: underline;
    background-color: gray;
}

ul {
      list-style: none;
      padding-bottom: 200px;
}

#logo { 
    float:left;   
    width:250px;   
    height:100px;   
    line-height:100px;  
    padding-left:150px;  
}

#logo h1 {
    font-family:fantasy;
    font-weight:300;
    font-size:40px;   
    color:rgb(255,255,140);   
}

.sec .container .row .col #calendar thead tr th{
	background-color: rgb(81,114,245);
	text-align: center;
	color: white;
}

.sec .container .row .col #calendar tbody tr td{
	text-align: left;
    vertical-align: top;
    width: 200px;
    height: 150px;
}
.sec .container .row .col #calendar tbody tr td:hover{
	background: #E2E2E2;
}

#calendar_title{
	text-align: center;
}
#calendar-header{
	text-align: center;
}
.sec{
	background: linear-gradient(to bottom, #ffffff, #add8e6);
}
