@charset "UTF-8";

.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: green;
}


.sec .container .titlediv h1{
	background-color: rgb(13, 110, 253);
	border-radius: 10px;
	text-align: center;
	width: 20%;
	padding: 15px 20px;
	margin: 0 auto 15px auto;
}

.row .col .gt .card-header a{
	text-decoration: none;
}

.sec{
	margin-top:30px;
}

.box{
	max-width:260px;
}