@charset "UTF-8";

.sec .container{
	border: 1px solid black;
	margin-top: 100px;
	background-color: white;
***REMOVED***

.sec .container .title{
	background-color: rgb(13, 110, 253);
	color: white;
***REMOVED***

.sec .container .row .col table tr {
	border-bottom: 1px solid gray;
***REMOVED***
.sec .container .row .col table tr td .d-flex .btn {
	margin: 10px;
***REMOVED***