@charset "UTF-8";

body, html {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sec{width:100%;}

.sec .container .row .col form div .form-text{color:red;}