@charset "UTF-8";

*{margin:0; padding:0; box-sizing: border-box;}
ul, ol, li{list-style: none;}
a{text-decoration: none;}

.box{align-items: flex-start;}

.sec .container .row .box table{
    width: 600px;
    text-align: center;
    border-collapse: collapse;
}

.sec .container .row .box tr, th, td{border:1px solid black;}

.sec .container .row .box table tr td .summary{word-wrap: break-word;}