@charset "UTF-8";

*{margin:0; padding:0; box-sizing: border-box;***REMOVED***
ul, ol, li{list-style: none;***REMOVED***
a{text-decoration: none;***REMOVED***

.box{align-items: flex-start;***REMOVED***

.sec .container .row .box table{
    width: 600px;
    text-align: center;
    border-collapse: collapse;
***REMOVED***

.sec .container .row .box tr, th, td{border:1px solid black;***REMOVED***

.sec .container .row .box table tr td .summary{word-wrap: break-word;***REMOVED***