@charset "UTF-8";

h1 {
   font-family: "Cinzel", serif;
   font-weight: 600px;
***REMOVED***

.sec .container{
   width:100%; max-width:720px;
   margin: 10px auto;
    padding:20px;
/*     background-color: #ffffff; */
    border-radius: 10px;
    border: 1px solid black;
    
***REMOVED***

.sec .btn-wrap{
   width:100%; max-width:720px;
   margin: 30px auto;
    padding:20px;
***REMOVED***

.sec .container .title{
    background-color: #ffffff;
    border: 5px solid white;
    border-radius: 10px;
***REMOVED***

.sec .container .row .box table{
   width:100%;
   text-align : center;
***REMOVED***

.sec .container .row .box table tr.input_box{
   text-decoration: none;
***REMOVED***

.sec .container .row .box table tr td.button_box{
   padding:20px;
***REMOVED***