@charset "UTF-8";

.sec .container{
	width:100%; max-width:720px;
	margin: 30px auto;
    padding:20px;
   	border:1px solid black;
    border-radius: 10px;
}

.sec .container .title{
    padding: 5px;
    background-color:rgb(13, 110, 253);
    border: 5px solid white;
    border-radius: 10px;
    color: white;
}

.user{
	margin-top: 100px;
}