@charset "UTF-8";

.sec .container{
	margin-top: 100px;
	border: 1px solid black;
	background-color: white;
}

.sec .container .title{
	background-color: rgb(13, 110, 253);
	color: white;
}

.sec .container .row .box form table tr .btn{
	margin-top: 15px;
}